@mixin header($dark, $light) {
  .hero {
    text-align: center;
    color: #fff;
    position: relative;
    padding-top: 5rem;
  
    &-overlay {
      background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .5)), linear-gradient(rgba(0, 0, 0, .25) 80%, rgba(0, 0, 0, 1));
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
    }
  
    .h1 {
      opacity: .7;
      margin: 0;
    }
  
    .sub-headline {
      margin: 1rem auto 3rem;
    }
    
    .button {
      margin: 1rem .5rem;
    }
  
    .scroll-down {
      position: absolute;
      width: 100%;
      bottom: 5rem;
      z-index: 2;
  
      p {
        display: block;
        font-size: 1.5rem;
        line-height: .25;
        margin: 0;
        color: $light;
  
        &:first-of-type {
          margin-bottom: 1rem;
          font-size: 1rem;
          color: #fff;
        }
  
        &:nth-of-type(2) {
          animation: arrow1 1.5s infinite;
        }
  
        &:nth-of-type(3) {
          animation: arrow2 1.5s infinite;
        }
  
        &:last-of-type {
          animation: arrow3 1.5s infinite;
        }
      }
    }
  }

  &.internal {
    .hero {
      padding: 20rem 0 15rem !important;
      z-index: 1;
      -webkit-clip-path: polygon(100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
      clip-path: polygon(100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
  
      .internal-hero-img {
        position: absolute;
        width: 120%;
        height: 112%;
        top: 0;
        left: 0;
        z-index: -1;
      }
    }
  
    &.neighborhood-page .hero .internal-hero-img {
      background: url('../img/neighborhood-hero-img.jpg') center no-repeat;
      background-size: cover;
    }

    &.floorplans-page .hero .internal-hero-img {
      background: url('../img/floorplans-header-img.jpg') center no-repeat;
      background-size: cover;
    }

    &.amenities-page .hero .internal-hero-img {
      background: url('../img/amenities-hero-img.jpg') center no-repeat;
      background-size: cover;
    }
  }
  
  @keyframes arrow1 {
    0%   { opacity: 1; transform: scale(1.1) }
    33%  { opacity: .5; transform: scale(1) }
    75%  { opacity: .5; transform: scale(1) }
    100% { opacity: 1; transform: scale(1.1)  }
  }
  
  @keyframes arrow2 {
    0%   { opacity: .5; transform: scale(1) }
    33%  { opacity: 1; transform: scale(1.1)  }
    66%  { opacity: .5; transform: scale(1) }
    100% { opacity: .5; transform: scale(1) }
  }
  
  @keyframes arrow3 {
    0%   { opacity: .5; transform: scale(1) }
    33%  { opacity: .5; transform: scale(1) }
    66%  { opacity: 1; transform: scale(1.1)  }
    100% { opacity: .5; transform: scale(1) }
  }
  
  .slider {
    position: relative;
    padding: 10vw 0 20vw;

    @media (max-width: 992px) {
      padding: 10vw 0 30vw;
    }

    @media (max-width: 850px) {
      padding: 15vw 0 35vw;
    }

    @media (max-width: 768px) {
      padding: 20vw 0 40vw;
    }

    @media (max-width: 650px) {
      padding: 20vw 0 50vw;
    }

    @media (max-width: 600px) {
      padding: 20vw 0 60vw;
    }

    @media (max-width: 500px) {
      padding: 20vw 0 70vw;
    }
  
    &-container {
      width: 100vw;
      overflow: hidden;
    }

    .content-container {
      position: relative;
      z-index: 2;
      transition: .5s ease-in-out;
    }

    .slider-content + .slider-content {
      position: absolute;
      width: 100%;
      top: 0;
    }

    .arrow {
      position: absolute;
      top: 35%;
      background: $dark;
      color: #fff;
      font-size: 1.5rem;
      padding: 1rem;
      cursor: pointer;
      z-index: 3;
      display: none;

      &--left {
        left: 0;
      }

      &--right {
        right: 0;
      }
    }

    .slides {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      transition: .5s ease-in-out;
    }
  
    .slide {
      position: absolute;
      width: 100vw;
      height: 100%;
      top: 0;
      left: 0;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      z-index: -1;
    }

    &-navigation {
      position: absolute;
      width: 100%;
      display: flex;
      justify-content: center;
      bottom: 35%;
      z-index: 2;

      .nav-dot {
        width: .5rem;
        height: .5rem;
        background: transparent;
        border: 1px solid $light;
        border-radius: 100%;
        margin: 0 .5rem;
        cursor: pointer;

        &.active {
          background: #fff;
        }
      }
    }

    &.fade {

      .slider-content {
        opacity: 0;
        transition: opacity .5s ease-in-out;
  
        &.active-content {
          opacity: 1;
        }
      }

      .slide {
        opacity: 0;
        transition: .5s ease-in-out;

        &.active-slide {
          opacity: 1;
        }
      }
    }

    &.arrows {
      .arrow {
        display: block;
      }
    }
  }
}

@-webkit-keyframes hide-before-load {
  0%   { display: none  }
  100% { display: block }
}

@keyframes hide-before-load {
  0%   { display: none  }
  100% { display: block }
}